/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* タブパネルのスタイル */
.tab-pane.active {
  text-align: center;
  padding: 1rem;
}

.tab-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-menu li {
  width: 100%; /* タブの幅を100%に設定 */
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ddd;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.125rem; /* 1.125rem = large */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-menu .active {
  background-color: #fff;
  border-bottom: 1px solid transparent;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  border: 1px solid rgb(0, 0, 0);
  border-top: none;
  margin-bottom: 50px;
}

.tab-pane.active h2 {
  padding: 2rem;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem; /* 2.5rem = 40px */
  margin-top: 2rem;
}

.tab-pane.active p {
  font-size: 1.875rem; /* 1.875rem = 30px */
}

.tab-pane img {
  width: 60%;
}

.tab-link::before { 
  content: "";
  background-image: url("https://opbr.bn-ent.net/assets/data/webp/howto/icon_l_attacker.png.webp");
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tab-link-1::before {
  background-image: url("https://opbr.bn-ent.net/assets/data/webp/howto/icon_l_attacker.png.webp");
}

.tab-link-2::before {
  background-image: url("https://opbr.bn-ent.net/assets/data/webp/howto/icon_l_getter.png.webp");
}

.tab-link-3::before {
  background-image: url("https://opbr.bn-ent.net/assets/data/webp/howto/icon_l_defender.png.webp");
}

/* 画面サイズが768px以下の場合 */
@media (max-width: 768px) {
  .tab-menu li {
      font-size: 1rem; /* medium */
      padding: 8px 16px;
  }

  .tab-pane.active h2 {
      font-size: 1.5rem; /* 24px */
      padding: 1rem;
  }

  .tab-link::before {
      width: 20px;
      height: 20px;
  }

  .video iframe {
      padding: 1.5rem;
  }

  .tab-pane.active p {
      font-size: 1.25rem; /* 20px */
  }
}

/* 画面サイズが480px以下の場合 */
@media (max-width: 500px) {
  .tab-menu li {
      font-size: 0.875rem; /* small */
      padding: 6px 12px;
  }

  .tab-pane.active h2 {
      font-size: 1.25rem; /* 20px */
      padding: 0.5rem;
  }

  .tab-pane.active p {
      font-size: 1.125rem; /* 18px */
  }
}

/* コンテナのスタイル */
.tab-wio {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  margin: 0 auto;
  margin-block: 2rem;
}

.bau-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-block: 2rem;
  text-align: center;
  background-image: url('https://pbs.twimg.com/media/E-Sby4LVgAAtRAu?format=jpg&name=4096x4096');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-blend-mode: overlay;
  border: 2px solid #bcb1b1;
}

.bau-container h1 {
  padding: 5rem;
  color: black;
  font-size: 3.75rem; /* 60px */
  text-align: center;
  font-weight: bold;
}

.bau-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bau-text {
  flex: 1;
  color: black;
  font-size: 1.25rem; /* 20px */
  text-align: left;
  font-weight: bold;
  margin-right: 2rem;
}

.bau-text h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Nunito', sans-serif;
}

.bau-item3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.bau-text3 {
  flex: 1;
  color: black;
  font-size: 1.25rem; /* 20px */
  text-align: center;
  font-weight: bold;
  margin-right: 2rem;
}

.bau-item img {
  width: 50%;
  height: auto;
}

/* 画面サイズが1024px以下の場合 */
@media (max-width: 1024px) {
  .bau-item, .bau-item3 {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
}

/* 画面サイズが800px以下の場合 */
@media (max-width: 800px) {
  .bau-item, .bau-item3 {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .bau-container h1 {
      font-size: 3.125rem; /* 50px */
  }

  .bau-text {
      margin-right: 0;
      margin-bottom: 1rem;
  }

  .bau-item img {
      width: 80%;
  }
}

/* 画面サイズが500px以下の場合 */
@media (max-width: 500px) {
  .bau-container h1 {
      font-size: 40px; /* 45px */
  }

  .bau-text {
      margin-right: 0;
      margin-bottom: 0.5rem;
      font-size: 18px;
  }

  .bau-item img {
      width: 100%;
  }
}
