  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
    
  }
  

  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 30rem;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
  }

  /*--------------------------------------------------------------
# 大画面用メディアクエリ
--------------------------------------------------------------*/
@media (min-width: 1200px) {
  .section-title h2 {
    margin-left: 30rem; /* 大画面のときの左マージン */
  }
}

/*--------------------------------------------------------------
# 中画面用メディアクエリ
--------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1199px) {
  .section-title h2 {
    margin-left: 15rem; /* 中画面のときの左マージン */
  }
}

/*--------------------------------------------------------------
# 小画面用メディアクエリ
--------------------------------------------------------------*/
@media (max-width: 767px) {
  .section-title h2 {
    margin-left: 9.5rem; /* 小画面のときの左マージン */
    font-size: 24px; /* 小画面のときのフォントサイズ */
  }
}
