
/* 中央揃えのスタイリング */
.space {
    text-align: center;
}

.space img {
    width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}

.space h3 {
    margin: 20px 0;
}

.space p {
    display: inline-block; /* テキストを左揃えで中央に寄せるため */
    text-align: left; /* テキストの改行を左側から始める */
    max-width: 800px; /* テキストが広がりすぎないように */
    padding: 0 20px; /* 左右に余白を追加 */
    margin: 0 auto; /* 中央揃えのための自動マージン */
    margin-block: 2rem;
}

